@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Avini";
  src: local("Avini"), url("../fonts/aviny.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSans";
  src: local("IRANSans"), url("../fonts/IRANSansDN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: local("Vazir"), url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Vazir", Arial, sans-serif;
}
